%aside.bSidebar
  %ul.aSidebar
    %li.aSidebar-Item{ class: ('asActive' unless @category.present?) }
      = link_to root_path, class: "aMenuItemWithIcon" do
        = image_tag"icons/Icon-All.png", class: 'aMenuItemWithIcon-Icon'
        %span.aMenuItemWithIcon-Text All
    - Category.all.each do |category|
      - icon = asset_exist?("icons/Icon-#{category.name}.png") ? "icons/Icon-#{category.name}.png" : "icons/Icon-All.png"
      %li.aSidebar-Item{ class: ('asActive' if is_active_category(category)) }
        = link_to category, class: 'aMenuItemWithIcon' do
          = image_tag icon, class: 'aMenuItemWithIcon-Icon'
          %span.aMenuItemWithIcon-Text= category.name
