.a-comments#comments-list
  .a-comments-title
    %h4 Opinions
    - if post.comments.empty?
      No Comments yet
    = render 'comments_form', post: post
    - post.comments.each do |comment|
      .a-comment
        %small= comment.name.present? ? comment.name : "anonymous"
        = simple_format(comment.text)
        %small= "#{time_ago_in_words(comment.created_at)} ago"
