.aPost
  .grid-x
    .cell.small-2
      .aVoteCount
        %span.aVoteCount-Icon ▲
        %span.aVoteCount-Votes= post.upvotes
    .cell.small-10
      .aPost-Category
        %small= post.categories.map(&:name).join(", ")
      %h3.aPost-Title
        = link_to post.title, post_path(post)
      .aPost-Teaser
        %span= post.description
      .aPost-Meta
        %span.aPostMeta
          = link_to "#{post.comments.size} Comments", post_path(post), class: 'aPostMeta-Link'
          = " ● Added #{time_ago_in_words(post.created_at)} ago"
