.grid-container
  .grid-x
    .cell
      %h2 Add new post
    .cell
      = form_for @post do |f|
        - if @post.errors.any?
          - @post.errors.full_messages.each do |msg|
            .callout.alert= msg
        = f.label :title, 'Title'
        = f.text_field :title
        = f.label :description, 'Description'
        = f.text_area :description
        = f.label :url, 'URL'
        = f.text_field :url
        = f.label 'Categories'
        .cell
          = f.collection_check_boxes :category_ids, Category.all, :id, :name, include_hidden: false
        = f.submit 'Save'
        
    