- content_for :title, @post.title
.grid-container
  .grid-x
    .cell
      -if flash[:alert]
        .callout.alert= flash[:alert]
      -if flash[:notice]
        .callout.success= flash[:notice]
    .cell.small-12.medium-9
      .a-post
        .grid-x
          .cell.small-12.small-offset-11
            %a{href: edit_post_path(@post)} Edit
          .cell.small-2
            = render 'upvotes', post: @post, comment: @upvote_comment
          .cell.small-10
            .a-post-content
              %small= @post.categories.map(&:name).join(", ")
              %h3= @post.title
              = simple_format(auto_link(@post.description))
              %a{href: @post.url}= @post.url
      = render 'comments', post: @post
    .cell.small-12.medium-3
      - @related_posts.each do |related_post|
        .a-post
          %small= related_post.categories.map(&:name).join(", ")
          %h5
            = link_to related_post.title, related_post
          %p= simple_format(auto_link(related_post.description))
