- content_for :title, @post.title
.grid-container
  .grid-x
    .cell
      -if flash[:alert]
        .callout.alert= flash[:alert]
      -if flash[:notice]
        .callout.success= flash[:notice]
    .cell.small-12.medium-9.medium-offset-3
      .bPostWrapper
        .bPostWrapper-Post
          .aPost
            .grid-x
              .cell.small-12.small-offset-11
                %a{href: edit_post_path(@post)} Edit
              .cell.small-2
                = render 'upvotes', post: @post, comment: @upvote_comment
              .cell.small-10
                .a-post-content
                  %small= @post.categories.map(&:name).join(", ")
                  %h3= @post.title
                  = simple_format(auto_link(@post.description))
                  %a{href: @post.url}= @post.url

        .bPostWrapper-Post
          = render 'comments', post: @post
