- content_for :title, @post.title
.grid-container
  .grid-x.grid-padding-x
    .cell
      -if flash[:alert]
        .aCallout.asAlert= flash[:alert]
      -if flash[:notice]
        .aCallout.asSuccess= flash[:notice]
    .cell.small-12.large-9.large-offset-3
      .bPostWrapper
        .bPostWrapper-Post
          .aPost
            .grid-x
              .cell.small-12.medium-2
                = render 'upvotes', post: @post, comment: @upvote_comment
              .cell.small-12.medium-10
                .aPost-Category
                  %small= @post.categories.map(&:name).join(", ")
                %h3.aPost-Title.asLarge= @post.title
                .aPost-Description
                  = simple_format(auto_link(@post.description))
                = link_to @post.url, class: "aPostUrl" do
                  %i.fas.fa-link.aPostUrl-Icon
                  %span.aPostUrl-aPostUrl= @post.url
                .aPost-Meta
                  %span.aPostMeta
                    = "Added #{time_ago_in_words(@post.created_at)} ago - "
                    = link_to  "Edit", edit_post_path(@post), class: 'aPostMeta-Link'



        .bPostWrapper-Post
          .grid-x
            .cell.small-12.medium-10.medium-offset-2
              = render 'comments', post: @post
