.grid-container
  .grid-x
    .cell
      -if flash[:alert]
        .callout.alert= flash[:alert]
      -if flash[:notice]
        .callout.success= flash[:notice]
    .cell.small-12.medium-9
      .a-post
        %a{href: edit_post_path(@post)} Edit
        .grid-x
          .cell.small-2
            .a-post-votes
              %span= @post.upvotes
              %span upvotes
          .cell.small-10
            .a-post-content
              %small= @post.categories.map(&:name).join(", ")
              %h3= @post.title
              %p= @post.description
              %a{href: @post.url}= @post.url

      .a-comments
        .a-comments-title
          %h4 Opinions
          - if @post.comments.empty?
            No Comments yet
          = render 'comments_form', post: @post
          - @post.comments.each do |comment|
            .a-comment
              %p= comment.text
              %small= "#{time_ago_in_words(comment.created_at)} ago"
