- content_for :title, @category.name
.grid-container
  .grid-x
    .cell.small-12.medium-3
      = render 'shared/sidebar'
    .cell.small-12.medium-9
      %h2= @category.name
      = @category.description
      .bPostWrapper
        - @posts.each do |post|
          .bPostWrapper-Post
            = render post
      = will_paginate(@posts)
